@font-face {
  font-family: 'FoundersGrotesk';
  src: url('https://jorgenbry.github.io/Olivenlunden/Fonts/founders-grotesk-x-condensed-medium.woff2') format('woff2'),
       url('https://jorgenbry.github.io/Olivenlunden/Fonts/founders-grotesk-x-condensed-medium.woff') format('woff'),
       url('https://jorgenbry.github.io/Olivenlunden/Fonts/founders-grotesk-x-condensed-medium.ttf') format('ttf'),
       url('https://jorgenbry.github.io/Olivenlunden/Fonts/founders-grotesk-x-condensed-medium.otf') format('otf'),
       url('https://jorgenbry.github.io/Olivenlunden/Fonts/founders-grotesk-x-condensed-medium.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FoundersGrotesk', Arial, sans-serif !important;
}